cmdline-tools/
src/build/
src/ios/
src/.flutter-plugins-dependencies
src/.packages
src/.dart_tool/package_config.json
src/.dart_tool/version
src/.dart_tool/flutter_build/fb93f2cabec2315b0f0b0d2618a1e7c3/.filecache
src/.dart_tool/flutter_build/fb93f2cabec2315b0f0b0d2618a1e7c3/app.dill
src/.dart_tool/flutter_build/fb93f2cabec2315b0f0b0d2618a1e7c3/debug_macos_bundle_flutter_assets.stamp
src/.dart_tool/flutter_build/fb93f2cabec2315b0f0b0d2618a1e7c3/flutter_assets.d
src/.dart_tool/flutter_build/fb93f2cabec2315b0f0b0d2618a1e7c3/kernel_snapshot.d
src/.dart_tool/flutter_build/fb93f2cabec2315b0f0b0d2618a1e7c3/kernel_snapshot.stamp
src/build/f58ed05f7a6fba8f3451773989665e4b.cache.dill.track.dill
src/build/macos/info.plist
src/build/macos/Build/Intermediates.noindex/Pods.build/Debug/Pods-Runner.build/Objects-normal/x86_64/Pods-Runner-dummy.o
src/build/macos/Build/Intermediates.noindex/Pods.build/Debug/shared_preferences_macos.build/Objects-normal/x86_64/shared_preferences_macos-dummy.o
src/build/macos/Build/Intermediates.noindex/Pods.build/Debug/shared_preferences_macos.build/Objects-normal/x86_64/shared_preferences_macos-master.priors
src/build/macos/Build/Intermediates.noindex/Pods.build/Debug/shared_preferences_macos.build/Objects-normal/x86_64/shared_preferences_macos-master.swiftdeps
src/build/macos/Build/Intermediates.noindex/Pods.build/Debug/shared_preferences_macos.build/Objects-normal/x86_64/SharedPreferencesPlugin.o
src/build/macos/Build/Intermediates.noindex/Pods.build/Debug/shared_preferences_macos.build/Objects-normal/x86_64/SharedPreferencesPlugin.swiftdeps
src/build/macos/Build/Intermediates.noindex/Pods.build/Debug/shared_preferences_macos.build/Objects-normal/x86_64/SharedPreferencesPlugin.swiftdeps~
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Flutter Assemble.build/InputFileList-33CC111E2044C6BF0003C045-FlutterInputs-f281be0ceb5d3215fbb004a7986ba6c7-resolved.xcfilelist
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/AppDelegate.o
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/AppDelegate.swiftdeps
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/AppDelegate.swiftdeps~
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/AppDelegate~partial.swiftsourceinfo
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/GeneratedPluginRegistrant.o
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/GeneratedPluginRegistrant.swiftdeps
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/GeneratedPluginRegistrant.swiftdeps~
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/GeneratedPluginRegistrant~partial.swiftsourceinfo
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/MainFlutterWindow.o
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/MainFlutterWindow.swiftdeps
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/MainFlutterWindow.swiftdeps~
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/MainFlutterWindow~partial.swiftsourceinfo
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/Runner-master.priors
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/Runner-master.swiftdeps
src/build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/x86_64/src.swiftsourceinfo
src/build/macos/Build/Intermediates.noindex/XCBuildData/876cdfd6cd2712f392af1acaa20bf18e-desc.xcbuild
src/build/macos/Build/Intermediates.noindex/XCBuildData/876cdfd6cd2712f392af1acaa20bf18e-manifest.xcbuild
src/build/macos/Build/Intermediates.noindex/XCBuildData/b0cbe776ed1f7632c06d5f824d26cda2-desc.xcbuild
src/build/macos/Build/Intermediates.noindex/XCBuildData/b0cbe776ed1f7632c06d5f824d26cda2-manifest.xcbuild
src/build/macos/Build/Intermediates.noindex/XCBuildData/build.db
src/build/macos/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-d433eee4256e94eb872d5decca9e11f2
src/build/macos/Build/Intermediates.noindex/XCBuildData/ef633b657b883639fddaf52fa68cccfb-desc.xcbuild
src/build/macos/Build/Intermediates.noindex/XCBuildData/ef633b657b883639fddaf52fa68cccfb-manifest.xcbuild
src/build/macos/Build/Products/Debug/.last_build_id
src/build/macos/Build/Products/Debug/App.framework/Versions/A/Resources/flutter_assets/kernel_blob.bin
src/build/macos/Build/Products/Debug/App.framework/Versions/A/Resources/flutter_assets/fonts/MaterialIcons-Regular.otf
src/build/macos/Build/Products/Debug/FlutterMacOS.framework/Versions/A/FlutterMacOS
src/build/macos/Build/Products/Debug/Pods_Runner.framework/Versions/A/Pods_Runner
src/build/macos/Build/Products/Debug/Pods_Runner.framework/Versions/A/Resources/Info.plist
src/build/macos/Build/Products/Debug/shared_preferences_macos/shared_preferences_macos.framework/Versions/A/shared_preferences_macos
src/build/macos/Build/Products/Debug/shared_preferences_macos/shared_preferences_macos.framework/Versions/A/Resources/Info.plist
src/build/macos/Build/Products/Debug/src.app/Contents/Info.plist
src/build/macos/Build/Products/Debug/src.app/Contents/_CodeSignature/CodeResources
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/App.framework/Versions/A/App
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/App.framework/Versions/A/_CodeSignature/CodeResources
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/kernel_blob.bin
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/fonts/MaterialIcons-Regular.otf
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/FlutterMacOS.framework/Versions/A/FlutterMacOS
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/shared_preferences_macos.framework/Versions/A/shared_preferences_macos
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/shared_preferences_macos.framework/Versions/A/_CodeSignature/CodeResources
src/build/macos/Build/Products/Debug/src.app/Contents/Frameworks/shared_preferences_macos.framework/Versions/A/Resources/Info.plist
src/build/macos/Build/Products/Debug/src.app/Contents/MacOS/src
src/build/macos/Build/Products/Debug/src.app/Contents/Resources/Assets.car
src/build/macos/Build/Products/Debug/src.swiftmodule/Project/x86_64-apple-macos.swiftsourceinfo
src/build/macos/Build/Products/Debug/src.swiftmodule/Project/x86_64.swiftsourceinfo
src/build/macos/ModuleCache.noindex/Session.modulevalidation
src/build/macos/ModuleCache.noindex/12249UHDW7G3W/shared_preferences_macos-ABMVXDU9AKFM.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/_Builtin_intrinsics-1R9IKGXQLJU0M.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/Accessibility-1O6KZ3QWBQDPP.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/AppKit-1LWHB1MWS5AWP.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/ApplicationServices-XV6KNRUFW5PV.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CFNetwork-WOPYBVYTVV3P.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/Cocoa-1ZSAXE79IU0C7.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/ColorSync-3E49XPWC4LN6N.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreAudio-3FPUPFH7ZN3QL.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreAudioTypes-2MQJ0IAUYM43G.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreData-1DHIL9VVBSYDQ.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreFoundation-RZX25862PY17.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreGraphics-MC4FPA2MN9QR.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreImage-2H41H5QLPV8GG.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreMedia-1VWMGOA2E4DXJ.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreServices-199P4UTAUTZ7C.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreText-4BX5WGXMXE7W.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/CoreVideo-J9HZM7HTOIXH.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/Darwin-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/DiskArbitration-1YS8ZT252YZXQ.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/Dispatch-2M9AOUJY3TW9V.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/FlutterMacOS-T3PVRPZ8COMU.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/Foundation-2FJBXN8U6QRTS.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/ImageIO-3MTK4VGYXNJP8.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/IOKit-PMP3SCKMT7TH.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/IOSurface-GCVS5NOA7EOF.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/launch-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/libkern-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/MachO-194CE0O93KDBK.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/Metal-LZGKTAAK5A7P.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/ObjectiveC-1A3ZNHZR9RRLF.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/OpenGL-2SRSU83KOCQ0D.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/os_object-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/os_workgroup-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/QuartzCore-1LT8XAPDT2LBF.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/Security-2RB2R7QDU33DQ.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/shared_preferences_macos-ABMVXDU9AKFM.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/SwiftOverlayShims-2DA6NLEWJC11R.pcm
src/build/macos/ModuleCache.noindex/1KPKR3W6KN65W/XPC-3LIAJY90PG03M.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/_Builtin_intrinsics-1R9IKGXQLJU0M.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/AppKit-1LWHB1MWS5AWP.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/ApplicationServices-XV6KNRUFW5PV.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CFNetwork-WOPYBVYTVV3P.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CloudKit-2WJEQIT331HGH.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/Cocoa-1ZSAXE79IU0C7.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/ColorSync-3E49XPWC4LN6N.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreData-1DHIL9VVBSYDQ.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreFoundation-RZX25862PY17.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreGraphics-MC4FPA2MN9QR.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreImage-2H41H5QLPV8GG.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreLocation-L7TM93RJXN1K.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreServices-199P4UTAUTZ7C.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreText-4BX5WGXMXE7W.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/CoreVideo-J9HZM7HTOIXH.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/Darwin-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/DiskArbitration-1YS8ZT252YZXQ.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/Dispatch-2M9AOUJY3TW9V.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/Foundation-2FJBXN8U6QRTS.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/ImageIO-3MTK4VGYXNJP8.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/IOKit-PMP3SCKMT7TH.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/IOSurface-GCVS5NOA7EOF.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/launch-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/libkern-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/MachO-194CE0O93KDBK.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/Metal-LZGKTAAK5A7P.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/modules.idx
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/ObjectiveC-1A3ZNHZR9RRLF.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/OpenGL-2SRSU83KOCQ0D.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/os_object-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/os_workgroup-1IVCWVLR6MT9T.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/QuartzCore-1LT8XAPDT2LBF.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/Security-2RB2R7QDU33DQ.pcm
src/build/macos/ModuleCache.noindex/3IAU5TDP5C76G/XPC-3LIAJY90PG03M.pcm
src/macos/Flutter/ephemeral/FlutterInputs.xcfilelist
